
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Master.cshtml";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/flexslider.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui1.css" rel="stylesheet" />
<link href="~/css/shop.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/swipebox.css" rel="stylesheet" />
<link href="~/css/jquery-ui1 - Copier.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="banner"></div>
<div class="about-1">
    <div class="container">
        <h3 class="title-txt"><span>A</span>bout Us</h3>
        <div class="ab-agile">
            <div class="col-md-6 aboutleft1">
                <h3>Welcome in Our Web Site</h3>
                <p class="para1">
                    Books are packed with knowledge, insights into a happy life, life lessons, love, fear, prayer and helpful advice.
                    One can read about anything under the sun. Books have been here for centuries and without them today’s knowledge of our past ancestors, cultures and civilizations would have been impossible.
                </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
                <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
            </div>
            <div class="col-md-6 aboutright1">
                <img src="~/images/g8.jpg" class="img-responsive" alt="">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-->
<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="about-right">
                <h3 class="subheading-w3-agile">About Us</h3>
                <p class="para-w3-agileits">
                    Books play a significant role in our life.They say that When you open a book, you open a new world,I believe that everyone would agree with this statement as books have become inevitable to mankind.
                    For the majority of people, books are part of their everyday life,
                    A book is like a best friend who will never walk away from you.So our Web Site BookTime Offer for you a lot of the Book in different Category.
                </p>
                <!-- stats -->
                <div class="stats">
                    <div class="stats_inner">
                        <div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
                            <p class="counter-agileits-w3layouts">100</p>
                            <div class="stats-text-wthree">
                                <h3>BOOK</h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
                            <p class="counter-agileits-w3layouts">10</p>
                            <div class="stats-text-wthree">
                                <h3>CATYGORY</h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
                            <p class="counter-agileits-w3layouts">120</p>
                            <div class="stats-text-wthree">
                                <h3> PRICE</h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
                            <p class="counter-agileits-w3layouts">45</p>
                            <div class="stats-text-wthree">
                                <h3>SERVICES</h3>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!-- //stats -->

            </div>
        </div>

    </div>
</div>


